@import "base";
@import "pygments";

html, body {
	height: 100%;
}

// Sidebar --------------------------------------------------------------------

div#sidebar {
	float: left;
	width: 18.75em;
	height: 100%;
	position: fixed;
	background-color: $base-color;
	text-align: right;
	color: #FFF;
	padding-right: 2.8125em;
	@include background-image(linear-gradient(left, $base-color 90%, darken($base-color, 5%) 100%));
}

header#site-header {
	margin-top: 6.25em;
	h1 {
		@include adjust-font-size-to(32px);
		padding-bottom: 0.483870968em;
		margin-bottom: 0.483870968em;
		border-bottom: 1px solid #FFF;
		font-weight: normal;
	}
}

nav#site-navigation {	
	ul {
		list-style-type: none;
		
		li {
			margin: 0.3125em 0em;
		}
	}
	
	a {
		text-decoration: none;
		color: inherit;
		@include adjust-font-size-to(15px);
		
		&:hover {
			text-decoration: underline;
		}
	}
}

// Page -----------------------------------------------------------------------

div#page {
	margin-left: 18.75em;
	min-width: 25em;
	max-width: 59.0625em;
	min-height: 100%;
	padding: 0em 2.8125em;
	float: left;
}

header#page-header {
	margin-top: 6.25em;
	h1 {
		@include adjust-font-size-to(32px);
		padding-bottom: 0.483870968em;
		margin-bottom: 0.483870968em;
		color: $base-color;
		border-bottom: 1px solid $base-color;
		font-weight: normal;
	}
}

// Content --------------------------------------------------------------------

div#content {
	@include adjust-font-size-to(15px);
	
	h2,h3,h4 {
		margin-bottom: 0.25em;
		font-weight: bold;
	}
	
	h2 {
		@include adjust-font-size-to(18px);
	}
	
	h3 {
		@include adjust-font-size-to(16px);
	}
	
	h4 {
		@include adjust-font-size-to(15px);
	}
	
	p {
		margin-bottom: 1.0em;
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		color: $base-color;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	ul, ol {
		margin-left: 1cm;
		margin-bottom: 1.0em;
	}
	
	blockquote:before {
		float:left;
		content: "“";
		font-size: 62px;
		color: $base-color;
		padding-right: 15px;
	}
	
	blockquote {
		margin: 1cm;
		font-style: italic;
	}
	
	.highlight {
		margin-bottom: 1.0em;
		overflow: auto;
	}
	
	.highlight > pre {
		background-color: rgba(0, 0, 0, 0.025);
		border: 1px solid #CCC;
		padding: 1.0em;
	}
}

time {
	color: #999;
	font-weight: normal;
}

article {
	margin-bottom: 2.0em;
}
