<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8" />
<title>{{ page.title }} | Hadrien01</title>
<meta name="keywords" content="{{ page.tags }}">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<link rel="alternate" type="application/rss+xml" href="http://hadrien01.github.com/feed/rss.xml" />
<meta name="author" content="Hadrien01">
<link rel="stylesheet" href="/style.css" type="text/css" />
<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-13151873-3']);_gaq.push(['_trackPageview']);(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,s);})();</script>
</head>
<body class="singular">
<div id="page" class="hfeed">
<header id="branding" role="banner">
<hgroup>
<h1 id="site-title">
<span>
<a href="http://localhost:8888/h01_2/" title="Hadrien01" rel="home">Hadrien01</a>
</span>
</h1>
<h2 id="site-description">Un site n'utilisant pas WordPress</h2>
</hgroup>
<nav id="access" role="navigation">
<h3 class="assistive-text">Menu principal</h3>
<div class="skip-link">
<a class="assistive-text" href="#content" title="Aller au contenu principal">Aller au contenu principal</a>
</div>
	<div class="skip-link">
		<a class="assistive-text" href="#secondary" title="Aller au contenu secondaire">Aller au contenu secondaire</a>
	</div>
	<div class="menu">
		<ul>
			<li class="current_page_item">
				<a href="http://hadrien01.github.com/" title="Accueil">Accueil</a>
			</li>
			<li class="page_item">
				<a href="http://hadrien01.github.com/a-propos/">À propos</a>
			</li>
			<li class="page_item">
				<a href="http://hadrien01.github.com/archives/">Archives</a>
			</li>
		</ul>
	</div>
	<div class="social">
		<ul>
			<li>
				<a href="http://twitter.com/hadrien01/" title="Twitter" class="twitter">Twitter</a>
			</li>
			<li>
				<a href="http://hadrien01.github.com/feed/rss.xml" title="RSS" class="feed">RSS</a>
			</li>
		</ul>
	</div>
</nav>
</header>
<div id="main">
<div id="primary">
<div id="content" role="main">
<article id="post-1" class="post type-post status-publish format-standard hentry">
	<header class="entry-header">
	<h1 class="entry-title">
							<a href="{{ post.url }}" title="Permalien vers {{ page.title }}" rel="bookmark">{{ page.title }}</a>
	</h1>
		<div class="entry-meta">
			<span class="sep">Publié le </span>
			<a href="http://hadrien01.github.com/archives" title="23 h 26 min" rel="bookmark">
			<time class="entry-date"pubdate>{{ page.bdate }}</time></a>
			<span class="by-author"> <span class="sep"> par </span> <span class="author vcard">
			<a class="url fn n" href="http://hadrien01.github.com/a-propos/" title="Hadrien01" rel="author me">Hadrien01</a>
			</span>
			</span>
		</div>
	</header>
	<div class="entry-content">{{ content }}</div>
	<footer class="entry-meta">
		<span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">Publié dans</span> {{ page.category }}.</span>
	</footer>
</article>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'hadrien';
(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://hadrien01.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Activez Javascript pour voir les commentaires.</noscript>
</div>
</div>

<footer id="colophon" role="contentinfo">
    <div id="site-generator">
<a href="http://jekyllrb.com/" title="Jekyll is a blog-aware, static site generator in Ruby" rel="generator">Fièrement propulsé par Jekyll</a>
</div>
</footer>
</div>
</body>
</html>